/* NAVIGATION STYLES */
nav a, nav ul {
  font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
}

/* ///// NAVIGATION BAR MARGINS /////  */
nav li {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ///// FOOTER STYLES /////  */
footer {
  background-color: rgb(64, 66, 68);
  color: white;
  height: 200px;
  margin-top: 20px;
  padding: 100px;
  font-size: 1.3em;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
}

footer ul  {
  width: auto;
   text-align: center;
   list-style-type: none;
 }



/* ////// HEADER CLASSES /////  */
h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 4em;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}


/* //// ARTWORK HEADER, TEXT, AND BACKGROUND ////  */
h2 {
  background-color: rgb(64, 66, 68);
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 50px;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
}

/* //// USED FOR LINKS FOR IMAGES ON GALLERY PAGES /////  */
h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 1.2em;
}


/* ///// USED FOR IMAGE DETAIL PAGES /////  */
figcaption {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 2em;
}

/* figcaption {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
} */

p {
  margin-left: 80px;
  margin-right: 60px;
  text-align: left;
  font-size: 1.2em;
  font-family: 'Nanum Myeongjo', serif;
}


/* //// MEDIA QUERIES : MOBILE AND IPAD ////  */

@media (max-width: 1280px) {
   h1, h2 {
     font-size: 1.5rem;
   }
   h3, h4 {
     font-size: 1.1rem;
   }
   p {
     font-size: 1rem;
     margin-right: auto;
     margin-left: 40px;
   }
   a{  font-size: 1.2rem;
   }
   nav a, nav ul
   {  font-size: 1.2rem;
   }
 }


/* ///// SEPARATE CLASSES FOR SPECIFIC THINGS /////  */

 #detail1 {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: auto;
 }


/* //// FLATLAY IMAGE SIZE /////  */
#flatlay {
  width: 1600px;
  height: 750px;
}

#selfie {
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 25px;
}

#logo {
  width: 100px; height: 50px;
  background-color: rgb(255, 255, 255);
  background-image: url("../img/headerbanner.jpg");
  background-size: contain; text-indent: -50em;
  background-repeat: no-repeat;
  /* margin-top: 10px; */
}



/*
 nav >ul >li >a:link {color: red; background-color: hsla(240, 10%, 80%, 1);}
nav >ul >li >a:hover {color: white; background-color: hsla(240, 10%, 80%, 1);}
nav >ul >li >a:active {color: red; background-color: hsla(240, 10%, 80%, 1);}
nav >ul >li >a:visited {color: green; background-color: hsla(240, 10%, 80%, 1);} */
