
main {
  width: auto;
}

header {
  background-color: black;
  height: 200px;
  margin-bottom: 20px;
}


h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 4em;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

figcaption {
  width: 100%;
  text-align: center;
  font-size: 1em;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

p {
  margin-left: 50px;
  text-align: left;
  font-size: 1.3em;
  font-family: 'Josefin Sans', sans-serif;
}



@media (max-width: 1280px) {
   h1 {
     font-size: 1.5rem;
   }
   p {
     font-size: 1rem;
   }
 }


footer {
  background-color: black;
  height: 200px;
  margin-top: 20px;
  padding: 60px;
}

footer ul {
  width: auto;
   text-align: center;
   list-style-type: none;
 }



/* //// FLATLAY IMAGE SIZE /////  */
#flatlay {
  width: 1600px;
  height: 750px;
}

#logo{
  width: 50px;
  height: 50px;
  background-image: url(https://placeimg.com/200/200/tech);
  background-size: contain;
  text-indent: -15em;
}

#selfie {
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 25px;
}


/* NAVIGATION STYLES: */



/* nav >ul >li >a:link {color: red; background-color: hsla(240, 10%, 80%, 1);}
nav >ul >li >a:hover {color: white; background-color: hsla(240, 10%, 80%, 1);}
nav >ul >li >a:active {color: red; background-color: hsla(240, 10%, 80%, 1);}
nav >ul >li >a:visited {color: green; background-color: hsla(240, 10%, 80%, 1);} */
